<section id="commerce" class="commerce">
  <div class="commerce__box container">
    <div class="commerce__content-box content-box">
      <span class="content-box__content-subtitle">INTERNATIONAL</span>
      <h2 class="content-box__content-title">COMMERCE CENTRE</h2>
      <span class="content-box__text"
        >Successful businesses have many things in common, today we’ll look at
        the big ‘R’ of recognition and how a digital advertising network may
        help.</span
      >
      <div class="content-box__button button">MORE DETAILS</div>
      <div class="content-box-ico-wrapper">
        <img src="images/description-ico.png" alt="" class="content-box__ico" />
        <span class="content-box__location">Hong Kong - 1588 Feet</span>
      </div>
    </div>
    <div class="commerce__image-box">
      <div class="commerce__bg-box"></div>
      <img src="images/commerce-bg.jpg" alt="image" class="commerce__image" />
    </div>
  </div>
</section>
