<section id="description" class="description">
  <h2 class="description__title">WHAT WE DO</h2>
  <div class="description__content-wrapper container">
    <div class="description__image-box">
      <div class="description__bg-box"></div>
      <img
        src="images/description-image.jpg"
        alt="image"
        class="description__image"
      />
    </div>
    <div class="description__content-box content-box">
      <span class="content-box__content-subtitle">ONE WORLD</span>
      <h2 class="content-box__content-title">Trade Center</h2>
      <span class="content-box__text"
        >Increasing prosperity in our lives can be accomplished by having the
        right frame of mind. The truth is, our thoughts are very powerful.</span
      >
      <div class="content-box__button button">MORE DETAILS</div>
      <div class="content-box-ico-wrapper">
        <img src="images/description-ico.png" alt="" class="content-box__ico" />
        <span class="content-box__location"
          >New York City, United States - 1776 feet</span
        >
      </div>
    </div>
  </div>
</section>
