<section id="gallery" class="gallery">
  <h2 class="gallery__title">GALLERY</h2>
  <div class="gallery__grid grid">
    <div class="grid__big-img">
      <img class="grid__big-image" src="images/gallery-big.jpg" alt="image" />
    </div>
    <div class="grid__big-box">
      <div class="grid__row">
        <div class="grid__image-small">
          <img class="grid__image-s" src="images/gallery-s-1.jpg" alt="img" />
        </div>
        <div class="grid__image-small">
          <img class="grid__image-s" src="images/gallery-s-2.jpg" alt="img" />
        </div>
      </div>
      <div class="grid__row">
        <div class="grid__image-small">
          <img class="grid__image-s" src="images/gallery-s-3.jpg" alt="img" />
        </div>
        <div class="grid__image-small">
          <img class="grid__image-s" src="images/gallery-s-4.jpg" alt="img" />
        </div>
      </div>
    </div>
  </div>
  <div class="gallery__button button">SEE MORE</div>
</section>
