<header id="header" class="header">
  <div
    id="d-wrapper"
    class="dark-wrapper animate__animated animate__fadeInRight animate__faster"
  ></div>
  <div
    id="b-menu"
    class="burger-menu animate__animated animate__fadeInRight animate__fast"
  >
    <div id="b-exit" class="burger-menu__exit">
      <div id="exit-s-1" class="burger-menu__exit-stripe"></div>
      <div id="exit-s-2" class="burger-menu__exit-stripe"></div>
    </div>
    <ul class="burger-menu__list">
      <li class="burger-menu__item">
        <a class="burger-menu__link" href="#description">
          <span id="burger-about" class="burger-menu__name">ABOUT US</span></a
        >
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link" href="#commerce">
          <span id="burger-projects" class="burger-menu__name"
            >PROJECTS</span
          ></a
        >
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link" href="#news">
          <span id="burger-news" class="burger-menu__name">NEWS</span></a
        >
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link" href="#footer">
          <span id="burger-contact" class="burger-menu__name">CONTACT</span></a
        >
      </li>
    </ul>
  </div>
  <div class="header__nav-box nav-box container">
    <div class="nav-box__icon-box">
      <img src="images/Logo.png" alt="logo" />
    </div>
    <nav class="nav-box__nav">
      <ul class="nav-box__nav-list">
        <li class="nav-box__nav-item">
          <a class="nav-box__link" href="#description">
            <div class="nav-box__circle"></div>
            <span class="nav-box__page-name">ABOUT US</span></a
          >
        </li>
        <li class="nav-box__nav-item">
          <a class="nav-box__link" href="#commerce">
            <div class="nav-box__circle"></div>
            <span class="nav-box__page-name">PROJECTS</span></a
          >
        </li>
        <li class="nav-box__nav-item">
          <a class="nav-box__link" href="#news">
            <div class="nav-box__circle"></div>
            <span class="nav-box__page-name">NEWS</span></a
          >
        </li>
        <li class="nav-box__nav-item">
          <a class="nav-box__link" href="#footer">
            <div class="nav-box__circle"></div>
            <span class="nav-box__page-name">CONTACT</span></a
          >
        </li>
      </ul>
    </nav>
    <ul class="nav-box__icons-list">
      <li class="nav-box__icon">
        <a class="nav-box__ico-link" href="#">
          <img src="images/fb-logo.png" alt="img"
        /></a>
      </li>
      <li class="nav-box__icon">
        <a class="nav-box__ico-link" href="#">
          <img src="images/twitter-logo.png" alt="img"
        /></a>
      </li>
      <li class="nav-box__icon">
        <a class="nav-box__ico-link" href="#">
          <img src="images/insta-logo.png" alt="img"
        /></a>
      </li>
    </ul>
    <div id="burger" class="nav-box__burger burger">
      <div id="burger-s-1" class="burger__stripe"></div>
      <div id="burger-s-2" class="burger__stripe"></div>
      <div id="burger-s-3" class="burger__stripe"></div>
    </div>
  </div>

  <div class="header__title-box container">
    <ul class="header__slider-list">
      <li id="circle-1" class="header__slider-circle active"></li>
      <li id="circle-2" class="header__slider-circle"></li>
      <li id="circle-3" class="header__slider-circle"></li>
      <li id="circle-4" class="header__slider-circle"></li>
      <li id="circle-5" class="header__slider-circle"></li>
    </ul>
    <h1 class="header__title">Simple & mordern</h1>
    <h2 class="header__subtitle">
      We make the world's beautiful every day
    </h2>

    <div id="arrow" class="header__arrow">
      <img id="arrow-dir" src="images/arrow-down.png" alt="arrow-ico" />
    </div>
  </div>
</header>
