.commerce {
  padding-top: 40px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  @include media-q($tablet-wide) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 140px;
    margin-bottom: 0px;
  }
  &__box {
    width: 100%;
    @include flex-main(column-reverse, center, center);
    flex-wrap: nowrap;
    margin-bottom: 41px;
    @include media-q($tablet-wide) {
      width: 100%;
      @include flex-main(row, space-between, flex-start);
      flex-wrap: nowrap;
      margin-bottom: 141px;
    }
  }

  &__image-box {
    margin-left: 0px;
    @include media-q($tablet) {
      margin-left: 70px;
    }
  }
  &__bg-box {
    width: 300px;
    height: 470px;
    background-color: $commerce-bg-color;
    position: absolute;
    top: 70px;
    right: 147px;
    z-index: -100;
    display: none;
    @include media-q($phablet) {
      width: 385px;
      height: 470px;
      background-color: $commerce-bg-color;
      position: absolute;
      top: 70px;
      right: 147px;
      z-index: -100;
      display: none;
    }
    @include media-q($tablet-wide) {
      width: 585px;
      height: 470px;
      background-color: $commerce-bg-color;
      position: absolute;
      top: 70px;
      right: 147px;
      z-index: -100;
      display: block;
    }
  }
  &__image {
    width: 300px;
    @include media-q($phone) {
      width: 350px;
    }

    @include media-q($tablet) {
      width: 630px;
    }
  }
}
