.footer {
  position: relative;
  padding-bottom: 40px;
  @include media-q($tablet-wide) {
    padding-bottom: 0px;
  }
  &__content-wrapper {
    height: 100%;
    width: 100%;
    @include flex-main(column, space-around, center);
    padding-top: 10px;
    padding-bottom: 20px;
    @include media-q($tablet) {
      height: 100%;
      width: 100%;
      padding-bottom: 0px;
      @include flex-main(column, flex-start, center);
      padding-top: 200px;
    }
  }
  &__content {
    height: auto;
    width: 100%;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    @include media-q($tablet) {
      height: 523px;
      width: 100%;
      background-image: url(../images/footer-bg.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  &__logos {
    @include flex-main(column, space-between, center);
    width: 100%;
    padding: 0 10px;
    margin-bottom: 5px;
    @include media-q($tablet) {
      @include flex-main(row, space-between, center);
      width: 100%;
      padding: 0 200px;
      margin-bottom: 35px;
    }
  }
  &__icons-list {
    @include flex-main(row, space-between, center);
    width: 160px;
  }
  &__circle {
    transition: 0.3s ease all;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    margin-right: 15px;
  }
  &__icon {
    transition: 0.3s ease all;
    width: 40px;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 50%;
    @include flex-main;
    cursor: pointer;
    @include media-q($tablet) {
      &:hover {
        border: 3px solid $white;
      }
    }
  }
  &__info {
    width: 100%;
    @include flex-main(column, center, center);
    padding-left: 0px;
    @include font($main-font, 14px, 400, $white);
    @include media-q($tablet) {
      width: 100%;
      @include flex-main(row, flex-start, center);
      padding-left: 200px;
      @include font($main-font, 14px, 400, $white);
    }
  }
  &__creator-name {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 00px;
      width: 0px;
      background-color: transparent;
      left: 0px;
    }
    @include media-q($tablet) {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: $white;
        left: -20px;
      }
    }
  }
  &__copyright {
    margin-right: 40px;
  }
}
