.header {
  width: 100%;
  height: auto;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 100px;
  @include media-q($tablet-wide) {
    width: 100%;
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 0px;
  }
  &__title-box {
    @include flex-main(column, center, center);
    position: relative;
    height: 100vh;
  }
  &__title {
    padding-top: 415px;
    @include font($main-bold-font, 80px, 400, $white);
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-align: center;
    @include media-q($phone) {
      padding-top: 215px;
      @include font($main-bold-font, 80px, 400, $white);
      font-size: 10vw;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 20px;
      text-align: center;
    }
    @include media-q($tablet) {
      padding-top: 215px;
      @include font($main-bold-font, 80px, 400, $white);
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    @include font($main-font, 22px, 300, $white);
    text-transform: uppercase;
    letter-spacing: 2.8px;
    word-spacing: 1.5px;
    margin-bottom: 220px;
    text-align: center;
  }
  &__arrow {
    @include margin-center;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    @include flex-main;
    display: none;
    cursor: pointer;
    &:hover {
      border: 1px solid $white;
    }
    transition: 0.3s ease all;
    @include media-q($phablet) {
      display: flex;
      &:hover {
        border: 3px solid $white;
      }
    }
  }
  &__slider-list {
    width: 220px;
    @include flex-main(row, center, center);
    display: none;
    position: absolute;
    right: -280px;
    top: 405px;
    transform: rotate(90deg);
    @include media-q($tablet-wide) {
      width: 220px;
      @include flex-main(row, space-between, center);
      position: absolute;
      right: -80px;
      top: 405px;
      transform: rotate(90deg);
    }
    @include media-q($desktop-wide) {
      width: 220px;
      @include flex-main(row, space-between, center);
      position: absolute;
      right: -180px;
      top: 405px;
      transform: rotate(90deg);
    }
    @include media-q($desktop-very-wide) {
      width: 220px;
      @include flex-main(row, space-between, center);
      position: absolute;
      right: -280px;
      top: 405px;
      transform: rotate(90deg);
    }
  }
  &__slider-circle {
    transition: 0.3s ease all;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    margin-right: 15px;
    cursor: pointer;
  }
}
.active {
  background-color: $white;
}
