.news {
  width: 100%;
  height: 100vh;
  background-image: url(../images/news-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex-main(column, center, center);
  padding-left: 10px;
  padding-right: 10px;
  @include media-q($tablet-wide) {
    padding-left: 0px;
    padding-right: 0px;
  }
  &__main-title {
    @include font($main-regular-font, 44px, 400, $white);
    position: relative;
    margin-bottom: 97px;
    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: $white;
      left: 120px;
      top: -38px;
    }
  }
}
