.news {
  width: 100%;
  height: auto;
  background-image: url(../images/news-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex-main(column, center, center);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 100px;

  @include media-q($tablet-wide) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0;
    height: 100vh;
  }
  &__main-title {
    @include font($main-regular-font, 44px, 400, $white);
    position: relative;
    margin-bottom: 00px;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: $white;
      left: 120px;
      top: -38px;
    }
    @include media-q($phone-wide) {
      @include font($main-regular-font, 44px, 400, $white);
      position: relative;
      margin-bottom: 97px;
      &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: $white;
        left: 120px;
        top: -38px;
      }
    }
  }
}
