.button {
  width: 191px;
  height: 50px;
  @include flex-main;
  border: 1px solid $news-title-color;
  transition: 0.3s ease all;
  cursor: pointer;
  &:hover {
    background-color: $description-bg-color;
  }
}
