.grid {
  @include flex-main(column, space-between, center);
  @include media-q($desctop-small) {
    @include flex-main(row, space-between, center);
  }
  &__big-img {
    margin-right: 10px;
    margin-left: 0px;
    padding-bottom: 10px;
    @include media-q($tablet-wide) {
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 0px;
    }
  }
  &__big-image {
    width: 290px;
    height: 290px;
    @include media-q($tablet-small) {
      width: 577px;
      height: 437px;
    }
  }
  &__big-box {
    @include flex-main(column, center, center);
  }
  &__row {
    @include flex-main(column, center, center);
    &:nth-child(1) {
      margin-bottom: 0px;
    }
    @include media-q($tablet) {
      @include flex-main(row, space-between, center);
      &:nth-child(1) {
        margin-bottom: 6px;
      }
    }
  }
  &__image-small:nth-child(1) {
    margin-right: 10px;
  }
  &__image-small:nth-child(2) {
    margin-right: 10px;
  }
  &__image-s {
    width: 290px;
    height: 290px;
    margin-bottom: 10px;

    @include media-q($tablet-small) {
      width: 287px;
      height: 213px;
      margin-bottom: 0px;
    }
  }
}
